.sliderContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.eachTab {
  list-style-type: none;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 10px 20px;
  border: none;
  text-align: center;
  cursor: pointer;
}
.activeTabItem {
  color: #ff6347;
  border-bottom: 2px solid #ff6347;
  font-weight: 600;
}
.tabCategoryButton {
  color: inherit;
  font-weight: 500;
  font-size: 18px;
  border: none;
  background-color: transparent;
}
.FoodListContainer{
  list-style-type: none;
  padding: 25px;
}

@media (max-width: 768px) {
  .category-tab {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
